<div class="hero">
  <div class="navbar">
    <p class="title">Indie Space</p>
    <div class="menu ">
      <a>News</a>
      <a>Opinion</a>
      <a>Technology</a>
      <a>Our Planet</a>
      <a>Health and Science</a>
    </div>
    <div class="button">
      <button class="button">
        Sign up for our newsletter
      </button>
    </div>
  </div>

  <div class="body-content">
    <div class="top-content">
      <div class="left-content">
        <div class="content">

          <div class="title-description">
            <label class="title">Russia’s Youngest-ever Astronauts Blast Off to Space Station</label>
            <div class="description ">
              On Thursday, three Russian astronauts lifted off on the Moscow-17 spacecraft from the Sputnik 1
              Satellite
              Launch Center deep in the Gobi Desert, heading for the Mir space station for a six-month stay.
            </div>
          </div>

          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>Daniel Albarta</label>
            <div class="line"></div>
            <label>October 22, 2023</label>
          </div>
        </div>

        <div class="image">
          <img src="../assets/images/5e8159f8-fa48-49a5-8f35-aade57c80e22.png" />
        </div>
      </div>

      <div class="right-content">
        <div class="content">
          <div class="image">
            <img src="../assets/images/content(1).png" alt="">
          </div>
          <div class="inside-content">
            <div class="property">
              <a>Daniel Albarta</a>
              <div class="line"></div>
              <a>October 22, 2023 </a>
            </div>
            <p>‘Washy Clouds and a Weepy Sky Floating Upside Down’: Simon Armitage’s Arctic expedition</p>
            <div class="property">
              <a>Our Planet</a>
              <div class="line"></div>
              <a>8 mins read</a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="image">
            <img src="../assets/images/content(2).png" alt="">
          </div>
          <div class="inside-content">
            <div class="property">
              <a>Donn Robinson</a>
              <div class="line"></div>
              <a>October 21, 2023</a>
            </div>
            <p>Rocket Lab Expects to Resume Electron Launches before year-end after September failure</p>
            <div class="property">
              <a>Space and Universe</a>
              <div class="line"></div>
              <a>4 mins read</a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="image">
            <img src="../assets/images/content(3).png" alt="">
          </div>
          <div class="inside-content">
            <div class="property">
              <a>Natalia Freigman</a>
              <div class="line"></div>
              <a>October 21, 2023</a>
            </div>
            <p>Curiosity Rover Discovers New Evidence Mars Once had 'right conditions' for life</p>
            <div class="property">
              <a>Space and Universe</a>
              <div class="line"></div>
              <a>7 mins read</a>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="image">
            <img src="../assets/images/content(4).png" alt="">
          </div>
          <div class="inside-content">
            <div class="property">
              <a>Antonio Roberto</a>
              <div class="line"></div>
              <a>October 19, 2023</a>
            </div>
            <p>Satellite Data Reveals Ancient Landscape Preserved beneath East Antarctic ice sheet</p>
            <div class="property">
              <a>Space and Universe</a>
              <div class="line"></div>
              <a>8 mins read</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-content">
      <div class="content">
        <div class="inside-content">
          <div class="property">
            <a for="">Donn Robinson</a>
            <div class="line"></div>
            <a for="">October 22, 2023</a>
          </div>
          <p>If Alien Life is Artificially Intelligent, it May be Stranger than We Can imagine</p>
          <div class="property">
            <a for="">Space and Universe</a>
            <div class="line"></div>
            <a for="">9 mins read</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="inside-content">
          <div class="property">
            <a for=""> Max Wellerman</a>
            <div class="line"></div>
            <a for="">October 21, 2023</a>
          </div>
          <p>Climate change has pushed Earth into 'Uncharted territory': report</p>
          <div class="property">
            <a for="">Our Planet</a>
            <div class="line"></div>
            <a for="">3 mins read</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="inside-content">
          <div class="property">
            <a for="">Sean Paula</a>
            <div class="line"></div>
            <a for="">October 19, 2023</a>
          </div>
          <p>Humanity at Risk from AI ‘Race to the Bottom’, Says Tech Expert</p>
          <div class="property">
            <a for="">Technology</a>
            <div class="line"></div>
            <a for="">8 mins read</a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="inside-content">
          <div class="property">
            <a for="">Laura Fransisco</a>
            <div class="line"></div>
            <a for="">October 19, 2023</a>
          </div>
          <p>UN Science Body Head Fears Lower Chance of Keeping Global warming to 1.5C</p>
          <div class="property">
            <a for="">Our Planet</a>
            <div class="line"></div>
            <a for="">10 mins read</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
