<div class="our-podcasts">
  <div class="title">
    <p class="title">Our Podcasts</p>
    <label class="navigate">
      <script></script>ee all >
    </label>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Today’s Technology with Danny Reighman</p>
          <p class="decription">On this podcast, I talk about what happened in technology.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts1.png" alt="">
        </div>
      </div>

      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Everyday Plant: The Plant and It Lifes</p>
          <p class="decription">Let’s get to know more about plant and it lifes!</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts2.png" alt="">
        </div>
      </div>
      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Boy & Joy: Travel Through Wildlife</p>
          <p class="decription">With Boy, you will know the stories in the wildlife.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts3.png" alt="">
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Spacetronauts: Space and Universe Updates</p>
          <p class="decription">Spacetronautes, where we can know the update in space.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts4.png" alt="">
        </div>
      </div>

      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Sonya Adventure: The Life of Traveler</p>
          <p class="decription">With Sonya, you will know the life of a backpacker.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts5.png" alt="">
        </div>
      </div>

      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Earth Now: What Happens With Earth?</p>
          <p class="decription">Earth Now, where you can get updates of our planet.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts6.png" alt="">
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Whynauts: What’s the Life of Astronauts?</p>
          <p class="decription">Let’s dig deeper with my friends about the life of astronauts.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts7.png" alt="">
        </div>
      </div>

      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Extraterrestrial Life: is It Exists?</p>
          <p class="decription">We’ll dig deeper to get to know the truth of alien existence.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts8.png" alt="">
        </div>
      </div>

      <div class="line"></div>

      <div class="inside-content">
        <div class="title-decription">
          <p class="title">Teeech: A Journey With Technology</p>
          <p class="decription">Newest updates through the technology and stuffs.</p>
        </div>
        <div class="image">
          <img src="../assets/images/our-podcasts9.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
