<div class="newest">
  <div class="title">
    <h6 class="label">
      Newest Stories
    </h6>
    <p class="label2">see all ></p>
  </div>
  <div class="content">

    <div class="inside-content">
      <div class="image">
        <img src="../assets/images/content(5).png" alt="">
      </div>
      <div class="text">
        <div class="title-decription">
          <p class="title">
            Rocket Lab Aims to Return to Flight This Year After September launch failure
          </p>
          <p class="decription">
            Rocket Lab aims to return to flight this year after September launch failure. The
            company is still investigating the Sept.
          </p>
        </div>
        <div class="category">
          <a>Space and Universe</a>
          <div class="line"></div>
          <a>3 mins read</a>
        </div>
      </div>
    </div>

    <div class="inside-content">
      <div class="image">
        <img src="../assets/images/content(6).png" alt="">
      </div>
      <div class="text">
        <div class="title-decription">
          <p class="title">
            Space Force Planning $8 Billion Satellite Architecture for Nuclear command and control
          </p>
          <p class="decription">
            Space Force Planning $8 Billion Satellite Architecture for Nuclear Command and Control.Thadawda
          </p>
        </div>
        <div class="category">
          <a>Space and Universe</a>
          <div class="line"></div>
          <a>5 mins read </a>
        </div>
      </div>
    </div>

    <div class="inside-content">
      <div class="image">
        <img src="../assets/images/content(7).png" alt="">
      </div>
      <div class="text">
        <div class="title-decription">
          <p class="title">
            October’s Orionids Meteor Shower are Linked to Halley’s Comet: Date, time, how and where to watch
          </p>
          <p class="decription">
            Want to know how to watch October’s Orionids meteor shower and contemplate the wonders
            of sky that are linked to Halley’s comet? Here's the date, time, location
          </p>
        </div>
        <div class="category">
          <a>Space and Universe</a>
          <div class="line"></div>
          <a>5 mins read </a>
        </div>
      </div>
    </div>

    <div class="inside-content">
      <div class="image">
        <img src="../assets/images/content(8).png" alt="">
      </div>
      <div class="text">
        <div class="title-decription">
          <p class="title">
            China Sends Three More Astronauts to Space Station
          </p>
          <p class="decription">
            China has sent three astronauts to its space station to replace the current crew. The
            Shenzhou-17 blasted off from northwestern China.
          </p>
        </div>
        <div class="category">
          <a>Space and Universe</a>
          <div class="line"></div>
          <a>7 mins read </a>
        </div>
      </div>
    </div>

  </div>
</div>
