<div class="condition-planet">
  <div class="title">
    <p class="text">Current Condition of Our Planet</p>
    <p class="navigate">see all ></p>
  </div>
  <div class="content">
    <div class="left-content">
      <div class="image">
        <img src="../assets/images/condition-planet.png" alt="">
      </div>
      <div class="title-decription">
        <p class="title">New Research Ties Industrial Pollution in Joppa to Higher Rates of Asthma, Respiratory Issues
        </p>
        <label class="decription">
          Joppa residents breathe more polluted air and report higher cases of asthma and other
          respiratory issues than local and state averages. Those are the top-line takeaways of a new study by
          researche...<label>Read more</label>
        </label>
      </div>
    </div>
    <div class="right-content">
      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/condition-planet2.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">Wildlife Worldwide Contaminated by Flame Retardants: New Map</p>
          <label class="decription">
            Wild animals across every continent are contaminated with flame retardant chemicals, according to a new...
            <label>Read more</label>
          </label>
        </div>
      </div>
      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/condition-planet3.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">
            Switzerland Sets Its Sights on Combatting Greenwashing in Finance
          </p>
          <label class="decription">
            Switzerland’s Federal Department of Finance (FDF) has declared its intention to put forward regulation...
            <label>Read more</label>
          </label>
        </div>
      </div>
      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/condition-planet4.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">For years, Japan Tried to Keep Their Existence a Secret, But the Ainu people refuse to
            disappear</p>
          <label class="decription">As a young boy in school, Masaki Sashima would be dragged out of his classroom and
            beaten by... <label>Read more</label></label>
        </div>
      </div>
      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/condition-planet5.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">Prospect of $4 Million a Year for Trash Collection Leaves New Kensington seeking new bids
          </p>
          <label class="decription">The prospect of paying nearly $4 million a year for curbside trash collection —
            more than four times what... <label>Read more</label></label>
        </div>
      </div>
    </div>
  </div>
</div>
