.world-news {
  width: 1360px;
  display: flex;
  padding: 40px 40px 80px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}

.world-news p.title {
  color: #000;
  font-family: Helvetica Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0px;
}

.world-news .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.world-news .wrapper .inside-warpper {
  display: flex;
  width: 1360px;
  align-items: center;
  align-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.world-news .wrapper .inside-warpper .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 316px;
  height: 436px;
  cursor: pointer;
}

.world-news .wrapper .inside-warpper .content .image {
  display: flex;
  width: 316px;
  height: 280px;
  justify-content: center;
  align-items: center;
}

.world-news .wrapper .inside-warpper .content .image img {
  width: 316px;
  height: 280px;
  flex-shrink: 0;
}

.world-news .wrapper .inside-warpper .content .text {
  display: flex;
  width: 316px;
  height: 136px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.world-news .wrapper .inside-warpper .content .text .title-decription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.world-news .wrapper .inside-warpper .content .text .title-decription p.title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
}

.world-news .wrapper .inside-warpper .content .text .title-decription p.decription {
  overflow: hidden;
  color: #3D3D3D;
  text-overflow: ellipsis;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  margin: 0px;
}

.world-news .wrapper .inside-warpper .content .text .category {
  display: flex;
  align-items: center;
  gap: 12px;
}

.world-news .wrapper .inside-warpper .content .text .category .line {
  border-left: 1px solid rgb(206, 204, 204);
  height: 10px;
}

.world-news .wrapper .inside-warpper .content .text .category a {
  color: rgba(0, 0, 0, 0.72);
  font-family: Helvetica Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.world-news .wrapper .button {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  cursor: pointer;
}

.world-news .wrapper .button a {
  color: #000;
  text-align: right;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  background-color: #FFF;
}
