<div class="world-news">
  <p class="title">Latest News Around the World</p>
  <div class="wrapper">
    <div class="inside-warpper">
      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news1.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Long March 9 Rocket Will Be a Game-changer for China’s Space Program</p>
            <p class="decription">SpaceX’s Starship spacecraft and super heavy rocket – the gleaming stainless steel
              rocket envisioned as a “fully reusable transportation system” – dominates the global news landscape.
              Starship has a lift capacity of 150 metric tonnes to low earth orbit (LEO) in its reusable version, and
              250 metric tonnes in its expendable version.</p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>7 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news2.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">A Day in the Life of an Astronaut: Humanity’s Open Window to Space</p>
            <p class="decription">Astronauts frequently use the definition of freedom related to space, yet their
              experiences not only give them a sense of being a speck in the universe but also offer the opportunity
              to witness breathtaking views.</p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>4 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news3.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Q&A: Life Exists Outside of Earth With Astronaut Matthias Maurer | Euronews Tech Talks
              Podcast</p>
            <p class="decription">In this episode, we conclude our three-part series investigating the impact of space
              technology on humanity with a Q&A featuring ESA astronaut Matthias Maurer about life beyond planet
              Earth.
            </p>
          </div>
          <div class="category">
            <a> Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>5 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news4.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Gaganyaan: India Launches Test Flight Ahead of Sending Crew Into space</p>
            <p class="decription">India's space agency has carried out the first in a series of tests flights ahead of
              its planned mission to take astronauts into space in 2025.</p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>6 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news5.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Astronomers Link “Starquakes” to Mysterious Radio Signals From Space</p>
            <p class="decription">Fast radio bursts (FRBs), intense radio energy bursts, are a perplexing astronomical
              enigma. The University of Tokyo’s recent research has found similarities between FRBs and earthquakes
            </p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a> 6 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news6.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">NASA to Equip International Space Station With Frikkin Lasers (for comms)</p>
            <p class="decription">US space agency NASA plans to run a technology demonstration for space lasers using
              the International Space Station next month, to test how th</p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>3 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news7.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Off-Duty Pilot Accused of Trying to Cut the Engines on an Alaska Airlines Flight</p>
            <p class="decription">The flight was diverted to Portland, Ore., because of a “credible security threat”
              inside the cockpit, the airline said. An off-duty pilot was charged with attempted murder.</p>
          </div>
          <div class="category">
            <a>Technology</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a> 4 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news8.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Sayonara! End of the Line for ASIMO, Japan's Famed Robot?</p>
            <p class="decription">It has played football with former US president Barack Obama and danced for German
              leader Angela Merkel, but Honda's ASIMO robot may have reached the end of the line.This article was
              published in thejakartapost.com with the title "End of the line for ASIMO, Japan's famed robot?". Click
              to
              read:
              https://www.thejakartapost.com/life/2018/06/28/end-of-the-line-for-asimo-japans-famed-robot.html.Download
              The Jakarta Post app for easier and faster news access:Android: http://bit.ly/tjp-androidiOS:
              http://bit.ly/tjp-ios</p>
          </div>
          <div class="category">
            <a>Technology</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>5 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news9.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Conditions on Earth May be Moving Outside the ‘Safe Operating space’ for humanity,
              according to dozens of scientists</p>
            <p class="decription">Human actions have pushed the world into the danger zone on several key indicators
              of
              planetary health, threatening to trigger dramatic changes in conditions on Earth, according to a new
              analysis from 29 scientists in eight countries.</p>
          </div>
          <div class="category">
            <a>Our Planet</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>5 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news10.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Spain’s Renfe Sets July Date for New High-Speed Trains to France</p>
            <p class="decription">Lorem ipsum dolor sit amet consectetur. At tellus nulla arcu sollicitudin nulla elit
              senectus. Sit in nulla hendrerit diam nunc maecenas viverra molestie euismod.</p>
          </div>
          <div class="category">
            <a>Technology</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>5 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news11.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Axiom Space refines training for next private astronaut mission</p>
            <p class="decription">Travelers will have a new option between Barcelona and Lyon, and Madrid and
              Marseille
              come July. That’s when Spain’s rail operator, Renfe,</p>
          </div>
          <div class="category">
            <a>Space and Universe</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>9 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news12.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Beyond the Colosseum: Eight Sites that Reveal Rome's Hidden History</p>
            <p class="decription">Currently trending is the surprising notion that many men think frequently about the
              Roman Empire – something that speaks to the enduring appeal of an empire that thrived some 2,000 years
              ago. And there are few cities better for exploring its legacy than the city of Rome, the caput mundi of
              the Roman Empire itself.</p>
          </div>
          <div class="category">
            <a>Our Planet</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>11 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news13.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">What Is The Importance Of Family In Modern Society?</p>
            <p class="decription">With advancements in technology, changing cultural norms, new priorities, and
              advanced
              forms of communication fueled by the internet, you may wonder how family holds up in modern society.</p>
          </div>
          <div class="category">
            <a>Health and Science</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>6 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news14.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Some of the Last Giant Pandas in the US are Leaving Next Month. But the National Zoo is
              betting $1.7 million the bears will be back.</p>
            <p class="decription">Some of the last giant pandas in the US are leaving next month. But the National Zoo
              is betting $1.7 million the bears will be back.</p>
          </div>
          <div class="category">
            <a>Our Planet</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>6 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news15.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Public Input Sought on State Forest Work Plan Update</p>
            <p class="decription">The Maryland Department of Natural Resources is seeking public comment on an
              additional silvicultural operation proposed as an inclusion to th</p>
          </div>
          <div class="category">
            <a>Our Planet</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>3 mins read</a>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news16.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Air pollution: Delhi Air Turns Very Poor but 'Worst is Yet to Come</p>
            <p class="decription">The air quality in India's capital Delhi has fallen to poor levels and is expected
              to
              deteriorate further in the coming days, officials have said.</p>
          </div>
          <div class="category">
            <a>Our Planet</a>
            <div style="width: 1px; height: 12px; background: rgba(0, 0, 0, 0.72);"></div>
            <a>7 mins read</a>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <a>See more</a>
    </div>
  </div>
</div>
