<div class="viral-videos">
  <div class="title">
    <label>Viral Videos</label>
    <p>see all ></p>
  </div>
  <div class="content">
    <div class="inside-content">
      <div class="image">
        <img src="../assets/images/content-viral.png" alt="">
      </div>
      <div class="title-decrip">
        <p class="title">
          SpaceX Fuels Up Starship in Key Test Ahead of 2nd-Ever
        </p>
        <label class="decription">
          SpaceX's latest Starship prototype just passed another big preflight test. The company conducted a "wet...
          <label>Read more</label>
        </label>
      </div>
    </div>
    <div class="inside-content">
      <div class="post">
        <div class="image">
          <img src="../assets/images/content-viral1.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">Meta Quest's Best VR Travel Experience Gets New Locations & AI Assistant</p>
          <label class="decription">The app, available for Meta Quest and PC VR-compatible headsets, features some of
            the highest quality... <label>Read more</label></label>
        </div>
      </div>
      <div class="post">
        <div class="image">
          <img src="../assets/images/content-viral2.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">Polar Contrasts: Greenland and Antarctica’s Divergent Ice Melt Patterns</p>
          <label class="decription">Researchers have reported that while Greenland’s surface ice melt has accelerated
            due
            to the... <label>Read more</label></label>
        </div>
      </div>
      <div class="post">
        <div class="image">
          <img src="../assets/images/content-viral3.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">New Wildlife Heritage Areas Help Travelers Find Responsible Animal Experiences</p>
          <label class="decription">Riding elephants and manta rays, petting tiger cubs, and watching caged bears
            dance:
            These are among... <label>Read more</label></label>
        </div>
      </div>
    </div>
  </div>
</div>
