<body>
  <div class="hero">
    <div class="navbar">
      <div class="title">
        <p>Indie Space</p>
      </div>
      <div class="menu ">
        <p>New</p>
        <p>Opinion</p>
        <p>Technology</p>
        <p>Our Planet</p>
        <p>Health and Science</p>
      </div>
      <div class="button">
        <button class="button">
          Sign up for our newsletter
        </button>
      </div>
    </div>

    <hr>

    <div class="body-content">
      <div class="top-content">
        <div class="left-content">
          <div class="content">

            <div class="title-description">
              <div class="title">
                <label>Russia’s Youngest-ever Astronauts Blast Off to Space Station</label>
              </div>
              <div class="description ">
                On Thursday, three Russian astronauts lifted off on the Moscow-17 spacecraft from the Sputnik 1
                Satellite
                Launch Center deep in the Gobi Desert, heading for the Mir space station for a six-month stay.
              </div>
            </div>

            <div class="category">
              <p class="text">
                Space and Universe | Daniel Albarta | October 22, 2023
              </p>
            </div>
          </div>

          <div class="image">
            <img src="../assets/images/5e8159f8-fa48-49a5-8f35-aade57c80e22.png" />
          </div>
        </div>

        <div class="right-content">
          <div class="content">
            <img src="../assets/images/content(1).png" alt="">
            <div class="inside-content">
              <p>Daniel Albarta | October 22, 2023</p>
              <label>‘Washy Clouds and a Weepy Sky Floating Upside Down’: Simon Armitage’s Arctic expedition</label>
              <p>Our Planet | 8 mins read</p>
            </div>
          </div>
          <div class="content">
            <img src="../assets/images/content(2).png" alt="">
            <div class="inside-content">
              <p>Donn Robinson | October 21, 2023</p>
              <label>Rocket Lab Expects to Resume Electron Launches before year-end after September failure</label>
              <p>Space and Universe | 4 mins read</p>
            </div>
          </div>
          <div class="content">
            <img src="../assets/images/content(3).png" alt="">
            <div class="inside-content">
              <p>Natalia Freigman | October 21, 2023</p>
              <label>Curiosity Rover Discovers New Evidence Mars Once had 'right conditions' for life</label>
              <p>Space and Universe | 7 mins read</p>
            </div>
          </div>
          <div class="content">
            <img src="../assets/images/content(4).png" alt="">
            <div class="inside-content">
              <p>Antonio Roberto | October 19, 2023</p>
              <label>Satellite Data Reveals Ancient Landscape Preserved beneath East Antarctic ice sheet</label>
              <p>Space and Universe | 8 mins read</p>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="bottom-content">
        <div class="content">
          <div class="inside-content">
            <p>Donn Robinson | October 22, 2023</p>
            <label>If Alien Life is Artificially Intelligent, it May be Stranger than We Can imagine</label>
            <p>Space and Universe | 9 mins read</p>
          </div>
        </div>
        <div class="content">
          <div class="inside-content">
            <p>Max Wellerman | October 21, 2023</p>
            <label>Climate change has pushed Earth into 'Uncharted territory': report</label>
            <p>Our Planet | 3 mins read</p>
          </div>
        </div>
        <div class="content">
          <div class="inside-content">
            <p>Sean Paula | October 19, 2023</p>
            <label>Humanity at Risk from AI ‘Race to the Bottom’, Says Tech Expert</label>
            <p>Technology | 8 mins read</p>
          </div>
        </div>
        <div class="content">
          <div class="inside-content">
            <p>Laura Fransisco | October 19, 2023</p>
            <label>UN Science Body Head Fears Lower Chance of Keeping Global warming to 1.5C</label>
            <p>Our Planet | 10 mins read</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="newest">
    <div class="title">
      <h6 class="label">
        Newest Stories
      </h6>
      <p class="label2">See all >>></p>
    </div>
    <div class="content">

      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/content(5).png" alt="">
        </div>
        <div class="text">
          <p class="title">
            Rocket Lab Aims to Return to Flight This Year After September launch failure
          </p>
          <p class="decription">
            Rocket Lab aims to return to flight this year after September launch failure. The
            company is still investigating the Sept.
          </p>
          <p class="category">Space and Universe | 3 mins read </p>
        </div>
      </div>

      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/content(6).png" alt="">
        </div>
        <div class="text">
          <p class="title">
            Space Force Planning $8 Billion Satellite Architecture for Nuclear command and control
          </p>
          <p class="decription">
            Space Force Planning $8 Billion Satellite Architecture for Nuclear Command and Control.Thadawda
          </p>
          <p class="category">Space and Universe | 5 mins read </p>
        </div>
      </div>

      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/content(7).png" alt="">
        </div>
        <div class="text">
          <p class="title">
            October’s Orionids Meteor Shower are Linked to Halley’s Comet: Date, time, how and where to watch
          </p>
          <p class="decription">
            Want to know how to watch October’s Orionids meteor shower and contemplate the wonders
            of sky that are linked to Halley’s comet? Here's the date, time, location
          </p>
          <p class="category">Space and Universe | 5 mins read </p>
        </div>
      </div>

      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/content(8).png" alt="">
        </div>
        <div class="text">
          <p class="title">
            China Sends Three More Astronauts to Space Station
          </p>
          <p class="decription">
            China has sent three astronauts to its space station to replace the current crew. The
            Shenzhou-17 blasted off from northwestern China.
          </p>
          <p class="category">Space and Universe | 7 mins read </p>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="trending-new">
    <div class="title">
      <h6 class="label">
        Trending News
      </h6>
      <p class="label2">See all >>></p>
    </div>
    <div class="content">
      <div class="image">
        <img src="../assets/images/title.png" alt="">
      </div>
      <div class="text">
        <div class="title-decription">
          <p class="title">
            Axiom Space Refines Training for Next Astronauts Mission
          </p>
          <div class="decrip">
            <div class="decription">
              <div class="decription1">
                <h3>A</h3>
                <p>
                  n American company that organises visits to the International Space Station.
                </p>
              </div>
              <div class="decription2">
                <p>
                  Houston-based Axiom has signed a memorandum of understanding with the UK Space Agency to try to make
                  it
                  happen.
                </p>
                <p>
                  The project would probably cost £200m or more, but the idea is that it would be funded commercially.
                  There would be no contribution from UK taxpayers. Axiom told the BBC that conversations with
                  corporations and institutions interested in providing finance were already under way.
                </p>
              </div>
            </div>
            <div class="decription3">
              <p>
                The last UK individual to go into orbit was Tim Peake, who flew to the ISS as a European Space
                Agency (Esa) astronaut in 2015.
              </p>
              <p>
                "This is an exciting opportunity and actually unique," he commented. "No-one has done a 'national
                mission', commercially, like this before. It's a new model and would be
                paving the way for how we do space in the future."
              </p>
              <p>
                Details are sparse at the moment. No crew has been chosen, nor is there a concept yet for how it would
                be selected.
              </p>
            </div>
          </div>
        </div>
        <div class="category">
          <div class="inside-category">
            <p>Space and Universe | 9 mins read</p>
          </div>
          <div class="button">
            <button>Continue Reading</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="post-news">
    <div class="space-universe">
      <div class="title">
        <p class="title">Space and Universe </p>
        <p class="all">See All >>></p>
      </div>
      <div class="image">
        <img src="../assets/images/title(1).png" alt="">
      </div>
      <div class="content">
        <p class="title">
          Research Institute Wins $55 Million Contract for QuickSounder Weather Satellite
        </p>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(1-1).png" class="img-content">
          <label class="text-content">
            Scientists Identify Molten Layer Deep Within Interior of Mars
          </label>
        </div>
        <hr>

        <div class="inside-content">
          <img src="../assets/images/title(1-2).png" class="img-content">
          <label class="text-content">
            Civilizations are Probably Spreading Quickly Through the Universe
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(1-3).png" class="img-content">
          <label class="text-content">
            Researchers Identify Metals Released into the Atmosphere by Satellite Reentry
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(1-4).png" class="img-content">
          <label class="text-content">
            SpaceX Falcon 9 Launches 23 Starlink Satellites from Cape Canaveral
          </label>
        </div>
      </div>
    </div>

    <div class="health-science">
      <div class="title">
        <p class="title">Health and Science</p>
        <p class="all">See All >>></p>
      </div>
      <div class="image">
        <img src="../assets/images/title(2).png" alt="">
      </div>
      <div class="content">
        <p class="title">
          Dr. Natalia Vardoka Uses Science, Math and Technology in Laboratory Diagnostics
        </p>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(2-1).png" class="img-content">
          <label class="text-content">
            Speciality Chemicals Manufacturer and Global Distributor, Devine Chemicals has doubled the size of its head
            office and opened a research centre.
          </label>
        </div>
        <hr>

        <div class="inside-content">
          <img src="../assets/images/title(2-2).png" class="img-content">
          <label class="text-content">
            Chemistry Study Improves Method to Measure Vibrations of Solids
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(2-3).png" class="img-content">
          <label class="text-content">
            Human Powered Health adds 'pure climber' Doebel-Hickok for 2024
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(2-4).png" class="img-content">
          <label class="text-content">
            Source of Raw Milk Causing Illness Found, Health Officials Report
          </label>
        </div>
      </div>
    </div>

    <div class="technology">
      <div class="title">
        <p class="title">Technology</p>
        <p class="all">See All >>></p>
      </div>
      <div class="image">
        <img src="../assets/images/title(3).png" alt="">
      </div>
      <div class="content">
        <p class="title">
          Tesla Model Y Becomes Europe’s Top-Selling Car in September
        </p>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(3-1).png" class="img-content">
          <label class="text-content">
            Neuron E-scooter Access in Saskatoon Stops as Cold Weather Rolls In
          </label>
        </div>
        <hr>

        <div class="inside-content">
          <img src="../assets/images/title(3-2).png" class="img-content">
          <label class="text-content">
            Qualcomm's Powerful Snapdragon X Elite Processor Scores Partnerships from More leading laptop OEMs
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(3-3).png" class="img-content">
          <label class="text-content">
            Indonesia Ranks Low on Internet Speed, Free Trial Rides on 'Whoosh' High-speed Train Extended
          </label>
        </div>
        <hr>
        <div class="inside-content">
          <img src="../assets/images/title(3-4).png" class="img-content">
          <label class="text-content">
            You Need to Know About These 3 New Features on the iPhone 15 Pro and 15 Pro Max
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="viral-videos">
    <div class="title">
      <label>Viral Videos</label>
      <p>See all ></p>
    </div>
    <div class="content">
      <div class="inside-content">
        <div class="image">
          <img src="../assets/images/content-viral.png" alt="">
        </div>
        <div class="title-decrip">
          <p class="title">
            SpaceX Fuels Up Starship in Key Test Ahead of 2nd-Ever
          </p>
          <p class="decription">
            SpaceX's latest Starship prototype just passed another big preflight test. The company conducted a "wet...
            Read more
          </p>
        </div>
      </div>
      <div class="inside-content">
        <div class="post">
          <div class="image">
            <img src="../assets/images/content-viral1.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">Meta Quest's Best VR Travel Experience Gets New Locations & AI Assistant</p>
            <p class="decription">The app, available for Meta Quest and PC VR-compatible headsets, features some of the
              highest quality... Read more</p>
          </div>
        </div>
        <div class="post">
          <div class="image">
            <img src="../assets/images/content-viral2.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">Polar Contrasts: Greenland and Antarctica’s Divergent Ice Melt Patterns</p>
            <p class="decription">Researchers have reported that while Greenland’s surface ice melt has accelerated due
              to the... Read more</p>
          </div>
        </div>
        <div class="post">
          <div class="image">
            <img src="../assets/images/content-viral3.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">New Wildlife Heritage Areas Help Travelers Find Responsible Animal Experiences</p>
            <p class="decription">Riding elephants and manta rays, petting tiger cubs, and watching caged bears dance:
              These are among... Read more</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="condition-planet">
    <div class="title">
      <p class="title">Current Condition of Our Planet</p>
      <p class="navigate">see all ></p>
    </div>
    <div class="content">
      <div class="left-content">
        <div class="image">
          <img src="../assets/images/condition-planet.png" alt="">
        </div>
        <div class="title-decription">
          <p class="title">New Research Ties Industrial Pollution in Joppa to Higher Rates of Asthma, Respiratory Issues
          </p>
          <label class="decription">
            Joppa residents breathe more polluted air and report higher cases of asthma and other
            respiratory issues than local and state averages. Those are the top-line takeaways of a new study by
            researche...<label>Read more</label>

          </label>
        </div>
      </div>
      <div class="right-content">
        <div class="inside-content">
          <div class="image">
            <img src="../assets/images/condition-planet2.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">Wildlife Worldwide Contaminated by Flame Retardants: New Map</p>
            <label class="decription">
              Wild animals across every continent are contaminated with flame retardant chemicals, according to a new...
              <label>Read more</label>
            </label>
          </div>
        </div>
        <div class="inside-content">
          <div class="image">
            <img src="../assets/images/condition-planet3.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">
              Switzerland Sets Its Sights on Combatting Greenwashing in Finance
            </p>
            <label class="decription">
              Switzerland’s Federal Department of Finance (FDF) has declared its intention to put forward regulation...
              <label>Read more</label>
            </label>
          </div>
        </div>
        <div class="inside-content">
          <div class="image">
            <img src="../assets/images/condition-planet4.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">For years, Japan Tried to Keep Their Existence a Secret, But the Ainu people refuse to
              disappear</p>
            <label class="decription">As a young boy in school, Masaki Sashima would be dragged out of his classroom and
              beaten by... <label>Read more</label></label>
          </div>
        </div>
        <div class="inside-content">
          <div class="image">
            <img src="../assets/images/condition-planet5.png" alt="">
          </div>
          <div class="title-decription">
            <p class="title">Prospect of $4 Million a Year for Trash Collection Leaves New Kensington seeking new bids
            </p>
            <label class="decription">The prospect of paying nearly $4 million a year for curbside trash collection —
              more than four times what... <label>Read more</label></label>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="our-podcasts">
    <div class="title">
      <p class="title">Our Podcasts</p>
      <p class="navigate">see all >></p>
    </div>
    <div class="content">

      <div class="wrapper">
        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Today’s Technology with Danny Reighman</p>
            <p class="decription">On this podcast, I talk about what happened in technology.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts1.png" alt="">
          </div>
        </div>

        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Everyday Plant: The Plant and It Lifes</p>
            <p class="decription">Let’s get to know more about plant and it lifes!</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts2.png" alt="">
          </div>
        </div>
        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Boy & Joy: Travel Through Wildlife</p>
            <p class="decription">With Boy, you will know the stories in the wildlife.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts3.png" alt="">
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Spacetronauts: Space and Universe Updates</p>
            <p class="decription">Spacetronautes, where we can know the update in space.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts4.png" alt="">
          </div>
        </div>

        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Sonya Adventure: The Life of Traveler</p>
            <p class="decription">With Sonya, you will know the life of a backpacker.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts5.png" alt="">
          </div>
        </div>

        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Earth Now: What Happens With Earth?</p>
            <p class="decription">Earth Now, where you can get updates of our planet.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts6.png" alt="">
          </div>
        </div>
      </div>

      <div class="wrapper">
        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Whynauts: What’s the Life of Astronauts?</p>
            <p class="decription">Let’s dig deeper with my friends about the life of astronauts.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts7.png" alt="">
          </div>
        </div>

        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Extraterrestrial Life: is It Exists?</p>
            <p class="decription">We’ll dig deeper to get to know the truth of alien existence.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts8.png" alt="">
          </div>
        </div>

        <div class="line"></div>

        <div class="inside-content">
          <div class="title-decription">
            <p class="title">Teeech: A Journey With Technology</p>
            <p class="decription">Newest updates through the technology and stuffs.</p>
          </div>
          <div class="image">
            <img src="../assets/images/our-podcasts9.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="world-news">
    <p class="title">Latest News Around the World</p>
    <div class="wrapper">
      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news1.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Long March 9 Rocket Will Be a Game-changer for China’s Space Program</p>
            <p class="decription">SpaceX’s Starship spacecraft and super heavy rocket – the gleaming stainless steel
              rocket envisioned as a “fully reusable transportation system” – dominates the global news landscape.
              Starship has a lift capacity of 150 metric tonnes to low earth orbit (LEO) in its reusable version, and
              250 metric tonnes in its expendable version.</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>7 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news2.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">A Day in the Life of an Astronaut: Humanity’s Open Window to Space</p>
            <p class="decription">Astronauts frequently use the definition of freedom related to space, yet their
              experiences not only give them a sense of being a speck in the universe but also offer the opportunity to
              witness breathtaking views.</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>4 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news3.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Q&A: Life Exists Outside of Earth With Astronaut Matthias Maurer | Euronews Tech Talks
              Podcast</p>
            <p class="decription">In this episode, we conclude our three-part series investigating the impact of space
              technology on humanity with a Q&A featuring ESA astronaut Matthias Maurer about life beyond planet Earth.
            </p>
          </div>
          <div class="category">
            <label> Space and Universe</label>
            <div class="line"></div>
            <label>5 mins read
            </label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news4.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Gaganyaan: India Launches Test Flight Ahead of Sending Crew Into space</p>
            <p class="decription">India's space agency has carried out the first in a series of tests flights ahead of
              its planned mission to take astronauts into space in 2025.</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>6 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news5.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Astronomers Link “Starquakes” to Mysterious Radio Signals From Space</p>
            <p class="decription">Fast radio bursts (FRBs), intense radio energy bursts, are a perplexing astronomical
              enigma. The University of Tokyo’s recent research has found similarities between FRBs and earthquakes</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label> 6 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news6.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">NASA to Equip International Space Station With Frikkin Lasers (for comms)</p>
            <p class="decription">US space agency NASA plans to run a technology demonstration for space lasers using
              the International Space Station next month, to test how th</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>3 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news7.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Off-Duty Pilot Accused of Trying to Cut the Engines on an Alaska Airlines Flight</p>
            <p class="decription">The flight was diverted to Portland, Ore., because of a “credible security threat”
              inside the cockpit, the airline said. An off-duty pilot was charged with attempted murder.</p>
          </div>
          <div class="category">
            <label>Technology</label>
            <div class="line"></div>
            <label> 4 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news8.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Sayonara! End of the Line for ASIMO, Japan's Famed Robot?</p>
            <p class="decription">It has played football with former US president Barack Obama and danced for German
              leader Angela Merkel, but Honda's ASIMO robot may have reached the end of the line.This article was
              published in thejakartapost.com with the title "End of the line for ASIMO, Japan's famed robot?". Click to
              read:
              https://www.thejakartapost.com/life/2018/06/28/end-of-the-line-for-asimo-japans-famed-robot.html.Download
              The Jakarta Post app for easier and faster news access:Android: http://bit.ly/tjp-androidiOS:
              http://bit.ly/tjp-ios</p>
          </div>
          <div class="category">
            <label>Technology</label>
            <div class="line"></div>
            <label>5 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news9.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Conditions on Earth May be Moving Outside the ‘Safe Operating space’ for humanity,
              according to dozens of scientists</p>
            <p class="decription">Human actions have pushed the world into the danger zone on several key indicators of
              planetary health, threatening to trigger dramatic changes in conditions on Earth, according to a new
              analysis from 29 scientists in eight countries.</p>
          </div>
          <div class="category">
            <label>Our Planet</label>
            <div class="line"></div>
            <label>5 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news10.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Spain’s Renfe Sets July Date for New High-Speed Trains to France</p>
            <p class="decription">Lorem ipsum dolor sit amet consectetur. At tellus nulla arcu sollicitudin nulla elit
              senectus. Sit in nulla hendrerit diam nunc maecenas viverra molestie euismod.</p>
          </div>
          <div class="category">
            <label>Technology</label>
            <div class="line"></div>
            <label>5 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news11.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Axiom Space refines training for next private astronaut mission</p>
            <p class="decription">Travelers will have a new option between Barcelona and Lyon, and Madrid and Marseille
              come July. That’s when Spain’s rail operator, Renfe,</p>
          </div>
          <div class="category">
            <label>Space and Universe</label>
            <div class="line"></div>
            <label>9 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news12.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Beyond the Colosseum: Eight Sites that Reveal Rome's Hidden History</p>
            <p class="decription">Currently trending is the surprising notion that many men think frequently about the
              Roman Empire – something that speaks to the enduring appeal of an empire that thrived some 2,000 years
              ago. And there are few cities better for exploring its legacy than the city of Rome, the caput mundi of
              the Roman Empire itself.</p>
          </div>
          <div class="category">
            <label>Our Planet</label>
            <div class="line"></div>
            <label>11 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news13.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">What Is The Importance Of Family In Modern Society?</p>
            <p class="decription">With advancements in technology, changing cultural norms, new priorities, and advanced
              forms of communication fueled by the internet, you may wonder how family holds up in modern society.</p>
          </div>
          <div class="category">
            <label>Health and Science</label>
            <div class="line"></div>
            <label>6 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news14.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Some of the Last Giant Pandas in the US are Leaving Next Month. But the National Zoo is
              betting $1.7 million the bears will be back.</p>
            <p class="decription">Some of the last giant pandas in the US are leaving next month. But the National Zoo
              is betting $1.7 million the bears will be back.</p>
          </div>
          <div class="category">
            <label>Our Planet</label>
            <div class="line"></div>
            <label>6 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news15.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Public Input Sought on State Forest Work Plan Update</p>
            <p class="decription">The Maryland Department of Natural Resources is seeking public comment on an
              additional silvicultural operation proposed as an inclusion to th</p>
          </div>
          <div class="category">
            <label>Our Planet</label>
            <div class="line"></div>
            <label>3 mins read</label>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="image">
          <img src="../assets/images/worlds-news16.png" alt="">
        </div>
        <div class="text">
          <div class="title-decription">
            <p class="title">Air pollution: Delhi Air Turns Very Poor but 'Worst is Yet to Come</p>
            <p class="decription">The air quality in India's capital Delhi has fallen to poor levels and is expected to
              deteriorate further in the coming days, officials have said.</p>
          </div>
          <div class="category">
            <label>Our Planet</label>
            <div class="line"></div>
            <label>7 mins read</label>
          </div>
        </div>
      </div>

      <div class="button">
        See More
      </div>
    </div>
  </div>



  <div class="footer">
    <div class="wrapper">
        <div class="content">
          <div class="social-links">
            <p class="title">
              Indie Space
            </p>
            <div class="icon">
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-solid fa-at"></i>
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
          <div class="email-form">
            <p class="title">Subscribe to our newsletter</p>
            <div class="form">
              <input type="text" placeholder="Enter your email here...">
            </div>
          </div>
        </div>


        <div class="menu">
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
          <div class="inside-menu">
            <p class="title"></p>
            <div class="list">
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
              <p class="list"></p>
            </div>
          </div>
        </div>
    </div>

    <p class="text"></p>
  </div>
</body>
