hr{
  width: 1470px;
}
.hero {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
  width: 1479px;
}
.hero .navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero .navbar p.title {
  color: #FFF;
  text-align: center;
  font-family: Helvetica ;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer
}
.hero .navbar .menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.hero .navbar .menu a{
  color: #FFF;
  text-align: center;
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
  cursor: pointer
}
.hero .navbar .button {
  display: inline-flex;
  align-items: center;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  gap: 10px;
}
.hero .navbar .button button.button {
  color: #FFF;
  background-color: black;
  text-align: center;
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  border: none;
  line-height: 16px;
  cursor: pointer
}


.body-content {
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1479px;
}
.body-content .top-content {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}
.body-content .top-content .left-content {
  display: flex;
  gap: 40px;
  flex-direction: row;
}
.body-content .top-content .left-content .content {
  display: flex;
  height: 628px;
  width: 497px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.body-content .top-content .left-content .content .title-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.body-content .top-content .left-content .content .title-description .title label {
  color: #fff;
  font-family: Helvetica;
  font-size: 70px;
  font-style: normal;
  font-weight: 200;
  line-height: 80px;
}
.body-content .top-content .left-content .content .title-description .description {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.body-content .top-content .left-content .content .title-description .category {
  display: flex;
  align-items: center;
  gap: 16px;
}
.body-content .top-content .left-content .content .category p.text {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.body-content .top-content .left-content .content .image {
  display: flex;
  height: 598px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body-content .top-content .left-content .image img {
  width: 416px;
  height: 625px;
}
.body-content .top-content .right-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.body-content .top-content .right-content .content {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer
}
.body-content .top-content .right-content .content .inside-content{
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.body-content .top-content .right-content .content .inside-content p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0px;
}
.body-content .top-content .right-content .content .inside-content label {
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.body-content .top-content .right-content .content img{
  display: flex;
  width: 130px;
  flex-direction: column;
  align-items: center;
  height: 148px;
}
.body-content .bottom-content {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}
.body-content .bottom-content .content {
  display: flex;
  width: 316px;
  cursor: pointer
}
.body-content .bottom-content .content .inside-content {
  display: flex;
  width: 316px;
  flex-direction: column;
}
.body-content .bottom-content .content .inside-content p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.body-content .bottom-content .content .inside-content label{
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  height: 54px;
}


.newest {
  display: flex;
  padding: 20px 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 1479px;
}
.newest div.title {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.newest .title .label {
  color: #000;
  font-family: Helvetica ;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.newest .title .label2 {
  font-family: Helvetica ;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer
}
.newest .content {
  display: flex;
  align-items: flex-start;
  gap: 53px;
}
.newest .content .inside-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer
}
.newest .content .inside-content .image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.newest .content .inside-content .image img{
  width: 330px;
  height: 380px;
}
.newest .content .inside-content .text {
  display: flex;
  width: 323px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.newest .content .inside-content .text p.title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 323px;
  margin: 0px;
  height: 50px;
}
.newest .content .inside-content .text p.decription {
  overflow: hidden;
  color: #1b1b1b;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 45px;
  margin: 0px;
}
.newest .content .inside-content .text p.category {
  color: rgba(0, 0, 0, 0.72);
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  width: auto;
}


.trending-new {
  width: 1479px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.trending-new div.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.trending-new .title .label {
  color: #000;
  font-family: Helvetica ;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.trending-new .title .label2 {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer
}
.trending-new .content .image{
  width: 710px;
  height: 560px;
}
.trending-new .content .image img{
  width: 710px;
  height: 560px;
  flex-shrink: 0;
}
.trending-new .content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: auto;
}
.trending-new .content div.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 65px;
}
.trending-new .content .text .title-decription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.trending-new .content .text .title-decription p.title{
  width: 100%;
  color: #000;
  font-family: Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin: 0px;
}
.trending-new .content .text .title-decription .decrip {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.trending-new .content .text .title-decription .decrip .decription1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}
.trending-new .content .text .title-decription .decrip .decription1 .paragrap {
  display: flex;
  align-items: flex-start;
}
.trending-new .content .text .title-decription .decrip .decription1 .paragrap h3{
  color: #000;
  text-align: justify;
  font-size: 56px;
  font-weight: 400;
  margin: 0px 10px 0px 0px ;
  font-family: Helvetica ;
}
.trending-new .content .text .title-decription .decrip .decription1 .paragrap p{
  color: #3D3D3D;
  text-align: justify;
  font-family: Helvetica ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
}
.trending-new .content .text .title-decription .decrip .decription1 .paragrap2 p{
  color: #3D3D3D;
    text-align: justify;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
  }
.trending-new .content .text .title-decription .decrip .decription2{
  width: 50% ;
}
.trending-new .content .text .title-decription .decrip .decription2 p{
  color: #3D3D3D;
  text-align: justify;
  font-family: Helvetica ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
}
.trending-new .content .text .category {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.trending-new .content .text .category .inside-category{
  display: flex;
  align-items: center;
  gap: 12px;
}
.trending-new .content .text .category .button {
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #000;
  cursor: pointer
}
.trending-new .content .text .category .button button {
  border: none;
  background-color: #fff;
  cursor: pointer
}


.post-news {
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}
.post-news .space-universe{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.post-news .space-universe hr {
  width: 100%;
  margin: 0px;
}
.post-news .space-universe .title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.post-news .space-universe .title p.title {
  color: #000;
  text-align: center;
  font-family: Helvetica ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}
.post-news .space-universe .title p.all {
  width: 78px;
  height: 20px;
  color: #000;
  font-family: Helvetica;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
  cursor: pointer
}

.post-news .space-universe .image{
  display: flex;
  width: 100%;
  height: 386px;
  justify-content: center;
  align-items: center;
}
.post-news .space-universe .image img {
  width: 100%;
  height: 386px;
}
.post-news .space-universe .content {
  display: flex;
  width: 432px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.post-news .space-universe .content p.title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0px;
  height: 65px;
  cursor: pointer;
}
.space-universe .content div.inside-content {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  width: 432px;
  cursor: pointer
}
.post-news .space-universe .content .inside-content img.img-content {
  width: 150px;
  height: 90px;
  flex-shrink: 0;
  cursor: pointer
}
.post-news .space-universe .content .inside-content label.text-content {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 68px;
  cursor: pointer
}


.viral-videos {
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
  background: #000;
}
.viral-videos .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.viral-videos .title label {
  color: #FFF;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.viral-videos .title p {
  color: #FFF;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer
}
.viral-videos .content {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.viral-videos .content .inside-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  cursor: pointer
}
.viral-videos .content .inside-content .image {
  width: 693px;
  height: 477px;
}
.viral-videos .content .inside-content .image img {
  width: 693px;
  height: 478px;
  flex-shrink: 0;
}
.viral-videos .content .inside-content .title-decrip {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.viral-videos .content .inside-content .title-decrip .title{
  color: #FFF;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px;
  width: 225px;
}
.viral-videos .content .inside-content .title-decrip label.decription {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0px;
  width: 253px;
}
.viral-videos .content .inside-content .title-decrip label.decription label{
  color: #FFF;
  font-family: Helvetica ;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.viral-videos .content .inside-content .post {
  display: flex;
  gap: 20px;
}
.viral-videos .content .inside-content .post .image {
  width: 416px;
  height: 181px;
}
.viral-videos .content .inside-content .post .image img{
  width: 415px;
  height: 180px;
  flex-shrink: 0;
}
.viral-videos .content .inside-content .post .title-decription{
  display: flex;
  height: 176px;
  flex-direction: column;
  justify-content: space-between;
  width: 313px;
}
.viral-videos .content .inside-content .post .title-decription p.title {
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0px;
}
.viral-videos .content .inside-content .post .title-decription label.decription {
  color: rgba(255, 255, 255, 0.80);
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer
}
.viral-videos .content .inside-content .post .title-decription label.decription label {
  color: #FFF;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  cursor: pointer
}


.condition-planet{
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}
.condition-planet .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0px;
}
.condition-planet .title p.text {
  color: #000;
  font-family: Helvetica ;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.condition-planet .title p.navigate {
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer
}
.condition-planet .content{
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.condition-planet .content .left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 50%;
}
.condition-planet .content .left-content .image {
  display: flex;
  width: 500px;
  justify-content: flex-start;
  align-items: center;
}
.condition-planet .content .left-content .image img {
  width: 728px;
  height: 538px;
  flex-shrink: 0;
}
.condition-planet .content .left-content .title-decription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}
.condition-planet .content .left-content .title-decription p.title {
  color: #000;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin: 0px;
}
.condition-planet .content .left-content .title-decription .decription {
  color: rgba(0, 0, 0, 0.80);
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}
.condition-planet .content .left-content .title-decription .decription label {
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.condition-planet .content .right-content {
  display: flex;
  width: 50%;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.condition-planet .content .right-content .inside-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 340px;
}
.condition-planet .content .right-content .inside-content .image{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.condition-planet .content .right-content .inside-content .image img{
  width: 340px;
  height: 190px;
}
.condition-planet .content .right-content .inside-content .title-decription{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.condition-planet .content .right-content .inside-content .title-decription p.title{
  color: #000;
  font-family: Helvetica ;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.condition-planet .content .right-content .inside-content .title-decription .decription{
  color: rgba(0, 0, 0, 0.80);
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.condition-planet .content .right-content .inside-content .title-decription .decription label{
  color: #000;
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}


.our-podcasts {
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}
.our-podcasts .title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin:  0px;
}
.our-podcasts .title p.title {
  color: #000;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.our-podcasts .title p.navigate {
  width: 80px;
  height: 24px;
  flex-shrink: 0;
  color: #000;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.our-podcasts .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.our-podcasts .content .wrapper {
  display: flex;
  width: 1479px;
  align-items: center;
  gap: 32px;
}
.our-podcasts .content .wrapper .line{
  border: 1px solid rgb(206, 204, 204);
  height: 90px;
}
.our-podcasts .content .wrapper .inside-content{
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  cursor: pointer;
}
.our-podcasts .content .wrapper .inside-content .title-decription{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.our-podcasts .content .wrapper .inside-content .title-decription p.title{
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.our-podcasts .content .wrapper .inside-content .title-decription p.decription{
  overflow: hidden;
  color: #3D3D3D;
  text-overflow: ellipsis;
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.our-podcasts .content .wrapper .inside-content .image{
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
}
.our-podcasts .content .wrapper .inside-content .image img{
  width: 75px;
  height: 75px;
  border-radius: 100px;
}


.world-news {
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
}
.world-news p.title {
  color: #000;
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin: 0px;
}
.world-news .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
.world-news .wrapper .inside-warpper{
  display: flex;
  width: 100%;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.world-news .wrapper .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 23%;
  cursor: pointer;
}
.world-news .wrapper .content .image {
  display: flex;
  width: 100%;
}
.world-news .wrapper .content .image img {
  width: 100%;
  height: 290px;
  flex-shrink: 0;
}
.world-news .wrapper .content .text {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.world-news .wrapper .content .text .title-decription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.world-news .wrapper .content .text .title-decription p.title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  height: 50px;
}
.world-news .wrapper .content .text .title-decription p.decription {
  overflow: hidden;
  color: #3D3D3D;
  text-overflow: ellipsis;
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 70px;
}
.world-news .wrapper .content .text .category {
  display: flex;
  align-items: center;
  gap: 12px;
}
.world-news .wrapper .content .text .category .line{
  border-left: 1px solid rgb(206, 204, 204);
  height: 10px;
}
.world-news .wrapper .content .text .category label {
  color: rgba(0, 0, 0, 0.72);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.world-news .wrapper .button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  cursor: pointer;
}


.footer{
  width: 1479px;
  display: flex;
  padding: 20px 20px;
  align-items: flex-start;
  gap: 32px;
  flex-direction: column;
  background: #000;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
}
.footer .wrapper .content{
  display: flex;
  width: 1480px;
  justify-content: space-between;
  align-items: center;
}
.footer .wrapper .content .social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.footer .wrapper .content .social-links p.title {
  color: #FFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}
.footer .wrapper .content .social-links .icon {
  display: flex;
  align-items: flex-start;
  gap: 6px;
}
.footer .wrapper .content .social-links .icon .logo {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  cursor: pointer;
}
.footer .wrapper .content .email-form {
  display: flex;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
}
.footer .wrapper .content .email-form p.title {
  color: #FFF;
  font-family: Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .wrapper .content .email-form .form {
  display: flex;
  padding: 12px 16px 12px 18px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 1000px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}
.footer .wrapper .content .email-form .form input {
  background-color: #000;
  color: #fff;
  border: none;
 width: 240px;
}
.footer .wrapper .content .email-form .form input:focus{
  outline: none;
}
.footer .wrapper .line {
  width: 1475px;
  height: 1px;
  background: rgba(255, 255, 255, 0.24);
}
.footer .wrapper .menu {
  display: flex;
  width: 1480px;
  align-items: center;
  gap: 64px;
}
.footer .wrapper .menu .inside-menu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.footer .wrapper .menu .inside-menu p.title{
  color: #FFF;
  font-family: Helvetica ;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}
.footer .wrapper .menu .inside-menu .list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.footer .wrapper .menu .inside-menu .list p.list{
  color: #FFF;
  font-family: Helvetica ;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.56px;
  margin: 0px;
  cursor: pointer;
}
.footer p.text {
  color: rgba(255, 255, 255, 0.80);
  text-align: center;
  font-family: Helvetica;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  width: 1480px;
}
